@if(isAddingTask){
    <app-new-task [userId] = "userId" [task] = "selectedTaskForEdit" (close)="onCloseAddTask()"/>
}

<section id="tasks">
    <header>
        <h2>{{ name }} 's Tasks</h2>
        <menu>
            <button (click)="onStartAddTask()">Add Task</button>
        </menu>
        <select [(ngModel)]="filter">
            <option value="all">All</option>
            <option value="pending">Pending</option>
            <option value="completed">Completed</option>
        </select>
    </header>

    <ul>
        @for (task of filteredTasks; track task.id + '_' + $index){
            <li>
                <app-task [task]="task"
                (edit)="onEditTask($event)"/>
            </li>
        }
    </ul>
</section>
